<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

{% include 'navbar.html' %}

<div class="main">
    <a href="/liste_equipements">retour</a>
    <br>
    <h2>Informations de l'équipement</h2>
    <p>Nom: {{ equipment.Nom }}</p>
    <p>Adresse IP: {{ equipment.AdresseIP }}</p>
    {% if equipment.SNMP == 'v3' %}
        <p>Nom d'utilisateur: {{ equipment.Username }}<p>
        <p>Protocole d'authentification: {{ equipment.AuthProtocol }}<p>
        <p>Mot de passe d'authentification: {{ equipment.AuthPassword }}<p>
        <p>Protocole de confidentialité: {{ equipment.PrivacyProtocol }}<p>
        <p>Mot de passe de confidentialité: {{ equipment.PrivacyPassword }}<p>
    {% else %}
        <p>Port: {{ equipment.port }}</p>
        <p>Communauté: {{ equipment.community }}</p>
        <p>OIDs: {{ equipment.OIDs }}</p>
    {% endif %}

    <br>

    {% for oid, value in data_equipment['OID'].items() %}
        <p>{{ oid }}: {{ value }}</p>
    {% endfor %}

    <br>

    <canvas id="trafficChart" width="400" height="200"></canvas>


</div>


{% include 'footer.html' %}

<script src="{{ url_for('static', filename='toggle.js') }}"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Récupérer les données de "traffic" depuis le modèle Flask
        const labels = {{ traffic_labels | tojson | safe  }};
        const trafficData = {{ traffic_data | tojson | safe  }};

        // Formater les étiquettes pour inclure uniquement l'heure (HH:MM)
        const formattedLabels = labels.map(label => {
            const date = new Date(label);
            return date.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });
        });

        // Créer un objet de contexte pour le canvas
        const ctx = document.getElementById('trafficChart').getContext('2d');

        // Générer le graphique
        const trafficChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Trafic entrant',
                    data: trafficData.map(entry => entry.in),
                    borderColor: 'blue',
                    borderWidth: 2,
                    fill: false
                }, {
                    label: 'Trafic sortant',
                    data: trafficData.map(entry => entry.out),
                    borderColor: 'red',
                    borderWidth: 2,
                    fill: false
                }]
            },
            options: {
                // Configurations supplémentaires du graphique (si nécessaire)
            }
        });
    });
</script>



</body>
</html>
